body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%
	line-height: 1.5;
}

h1,h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.main-title {
    text-align: center;
    background-color: #851944;
    color: #FFFFFF;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.citacao {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	margin: 20px 40px;
	width: 250px;
	box-sizing: border-box;
}


.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

.content{
	width: 720px;
	margin: auto;
	padding: 30px 0;
}


blockquote, aside, footer {
	padding: 20px;
}

.fiat {
	float: right;
}

.petro {
	float: left;
}

cite {
	font-style: italic;
	float: right;
}

main {
	float: left;
	width: 85%;
	padding-bottom: 80px;
}

.minha-foto {
	position: absolute;
	top: 0;
	right: 0;
}

.navegacao-site {
	width: 15%;
	position: relative;
	top: 310px;
	text-align: center;
	background-color: #3C1D3D;
	color: #F2FFFC;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

.minha-foto, .navegacao-site {
	float: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.citacao-bio, .navegacao-site, .rodape-pagina {
    padding: 20px;
}

footer {
	clear: both;
}

.page-footer {
	background-color: #000;
	color: #F2FFFC;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

nav a {
	color: #F2FFFC;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.icones-sociais li {
	display: inline-block;
}


nav a {
	text-transform: lowercase;
}

.icones-sociais a {
	width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}

.github {
	background-image: url("github.png");
}

.twitter {
	background-image: url(twitter.png);	
}

.linkedin {
	background-image: url(linkedin.png);
}

.rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}